<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <a routerLink='./home-component'>
                <h3 class="caption">SHOP.</h3>
            </a>
        </div>
        <div class="col-sm">
            <a routerLink="./home-component">HOME</a>
        </div>
        <div class="col-sm">
            <a routerLink='./contact-us-component'>CONTACT US</a>
        </div>
        <div class="col-sm">
            <a routerLink='./about-us-component'>ABOUT US</a>
        </div>
    </div>
    <div class="icons">
        <fa-icon [icon]="faTwitter"></fa-icon>
        <fa-icon [icon]="faFacebook"></fa-icon>
    </div>
    <div class="copyright">
        <fa-icon [icon]="faCopyright"></fa-icon>
        <p>copyrighted 2022</p>
    </div>
</div>