.product-image {
    object-fit: contain;
    height: 200px;
}

mat-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
}

.product-button {
    margin-top: 5px;
}